/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | / @use 'mq' as * with (
 * 2 | |   $breakpoints: (
 * 3 | |     mobile: 320px,
 * 4 | |     tablet: 740px,
 * 5 | |     desktop: 980px,
 * 6 | |     wide: 1300px,
 * 7 | |   )
 * 8 | | );
 *   | '-^
 *   '
 *   style.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  \250c  @use 'mq' as * with (\a 2 \2502  \2502    $breakpoints: (\a 3 \2502  \2502      mobile: 320px,\a 4 \2502  \2502      tablet: 740px,\a 5 \2502  \2502      desktop: 980px,\a 6 \2502  \2502      wide: 1300px,\a 7 \2502  \2502    )\a 8 \2502  \2502  );\a   \2502  \2514 \2500 ^\a   \2575 \a   style.scss 1:1  root stylesheet";
}
