@use 'mixin' as *;

$until-tablet-font-size: 56.25%;
$from-desktop-font-size: 62.5%;


.test {
    @include mq(mobile) {
        font-size: $until-tablet-font-size; 
    }
    @include mq(tablet) {
        font-size: $until-tablet-font-size; 
    }
    @include mq(desktop) {
        font-size: $from-desktop-font-size; 
    }
    @include mq(wide) {
        font-size: $from-desktop-font-size; 
    }
}